<!DOCTYPE html>
<html>
<head>
	<title></title>
<style type="text/css">
	div#dailyexpbox{
		background-color: #f2f2f2;padding:2%;margin:5%;
		box-shadow: 4px 4px 15px black;
	}
</style>
</head>
<body>
	<%= render "navigation" %>
	<% flash.each do |msg| %>
			<div class="alert alert-info"><%=  msg[1] %></div>
		<% end %>
	<div id="dailyexpbox" style="">
			<%= form_tag("/savemoney", method: "post",id:"dailyexpform") do %>
						<h4>Save Money</h4>
						<div class="form-group">
						<label>Description</label>
						<textarea name="description" class="form-control"></textarea>
						</div>
						<div class="form-group">
						<label>Amount</label>
						<input type="text" name="amount" class="form-control">
						</div>
						
						<div class="form-group">
						<input type="submit" name="submit" class="btn btn-warning form-control" value="CREATE NEW ACCOUNT">
						</div>
					<% end %>
	</div>
</body>
</html>